.footer {
  padding-top: 71px;
  background: rgb(248, 248, 248);

  @include respond-to(768px) {
    padding-top: 47px;
    background: #fff;
  }

  @include respond-to(1120px) {
    background: rgb(248, 248, 248);
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  @include respond-to(768px) {
    flex-direction: row;
    align-items: flex-start;
    text-align: end;
    justify-content: space-between;
  }
}

.footer__list-item {
  max-width: 312px;
  font-family: "TTM";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgb(126, 126, 130);
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 19px;
  }

  @include respond-to(768px) {
    max-width: 240px;

    & span {
      display: block;
    }

    &:first-child {
      text-align: start;
    }

    &:last-child {
      text-align: end;
      margin-bottom: 25px;
    }

  }
}

.footer__list-item-link {
  transition: all .2s ease-in-out;

  &:hover {
    color: #e46289;
  }
}